include "application"

com.socrata {
  tileserver {
    render-host = {{ CARTO_HOST }}
    render-port = {{ CARTO_PORT }}

    threadpool {
      min-threads = {{ MIN_THREADS }}
      max-threads = {{ MAX_THREADS }}
    }
    query-timeout = {{ QUERY_TIMEOUT }}
  }
  common-zk-ensemble = {{ ZOOKEEPER_ENSEMBLE }}

  curator {
    ensemble = {{ ZOOKEEPER_ENSEMBLE }}
  }
}
