include "application"

com.socrata {
  tileserver {
    carto-host = {{ CARTO_HOST }}
    carto-port = {{ CARTO_PORT }}

    threadpool {
      min-threads = {{ MIN_THREADS }}
      max-threads = {{ MAX_THREADS }}
    }
  }
  common-zk-ensemble = {{ ZOOKEEPER_ENSEMBLE }}

  curator {
    ensemble = {{ ZOOKEEPER_ENSEMBLE }}
  }
}
